@font-face {
  font-family: 'BrownStd';
  src: url("./assets/fonts/BrownStd-Light.eot");
  src: url("./assets/fonts/BrownStd-Light.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/BrownStd-Light.woff2") format("woff2"), url("./assets/fonts/BrownStd-Light.woff") format("woff"), url("./assets/fonts/BrownStd-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BrownStd';
  src: url("./assets/fonts/BrownStd-Regular.eot");
  src: url("./assets/fonts/BrownStd-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/BrownStd-Regular.woff2") format("woff2"), url("./assets/fonts/BrownStd-Regular.woff") format("woff"), url("./assets/fonts/BrownStd-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'BrownStd';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.no-scroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.5px;
}

a {
  position: relative;
  color: #888888;
  text-decoration: none;
}

a::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #888888;
  transition: width 250ms ease;
  content: '';
}

a:hover::before {
  width: 100%;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: ' ';
}

.clearfix::after {
  clear: both;
}

.app {
  text-align: left;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  padding: 20px 50px;
  text-align: center;
}

.header__title {
  display: inline-block;
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: color 250ms ease;
}

.header__title.black {
  color: #000000;
}

.header__subline {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.content-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}

@media only screen and (min-width: 1200px) {
  .content-wrapper {
    padding: 0 100px;
  }
}

.grid {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 40px;
}

.grid__item {
  position: relative;
  width: 100%;
  padding: 40px;
}

@media only screen and (min-width: 400px) {
  .grid__item {
    max-width: 50%;
    float: left;
  }
  .grid__item:nth-child(odd) {
    padding-right: 20px;
  }
  .grid__item:nth-child(even) {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .grid__item {
    max-width: 25%;
    float: left;
  }
  .grid__item:nth-child(odd) {
    padding-right: 40px;
  }
  .grid__item:nth-child(even) {
    padding-left: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .grid__item {
    padding: 100px;
  }
  .grid__item:nth-child(odd) {
    padding-right: 100px;
  }
  .grid__item:nth-child(even) {
    padding-left: 100px;
  }
}

.grid__item:after {
  content: "";
  display: block;
  padding-bottom: 120%;
}

.grid__item--bg {
  position: absolute;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  cursor: pointer;
  background-position: center center;
  background-size: cover;
  transition: transform 500ms ease-out;
}

@media only screen and (min-width: 400px) {
  .grid__item--bg {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
  }
}

@media only screen and (min-width: 768px) {
  .grid__item--bg {
    width: calc(100% - 80px);
    height: calc(100% - 80px);
  }
  .grid__item--bg:hover {
    filter: sepia(1) hue-rotate(280deg) saturate(1);
    transform: translate(-5px, -10px);
  }
}

@media only screen and (min-width: 1200px) {
  .grid__item--bg {
    width: calc(100% - 200px);
    height: calc(100% - 200px);
  }
}

.grid__item h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: none;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.modal img {
  max-width: 100%;
}

.modal__overlay.expanded {
  background: #f990bf;
}

.modal {
  position: fixed;
  top: 0;
  z-index: 200;
  display: flex;
  width: 100%;
  overflow-y: hidden;
  height: 100%;
  padding-top: 50px;
  animation-name: modalReveal;
  animation-duration: 750ms;
  animation-iteration-count: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: opacity 750ms ease;
}

@media only screen and (min-width: 768px) {
  .modal {
    top: 50%;
    left: 50%;
    max-height: calc(100vh - 120px);
    padding-top: 0;
    transform: translate(-50%, -50%);
  }
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  animation-name: modalReveal;
  animation-duration: 750ms;
  animation-iteration-count: 1;
  transition: background 750ms ease;
}

.modal__btn--close {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 400;
  cursor: pointer;
  transition: color 250ms ease;
}

@media only screen and (min-width: 768px) {
  .modal__btn--close {
    right: 40px;
  }
}

.modal__btn--close:hover {
  color: #f990bf;
}

.modal__btn--close.expanded:hover {
  color: #ffffff;
}

.modal__btn--expand {
  margin-top: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: opacity 250ms ease, color 250ms ease;
}

.modal__btn--expand:hover {
  color: #f990bf;
}

.modal__toggle--next, .modal__toggle--prev {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  display: none;
  min-width: 50px;
  padding: 0 10px;
  text-align: center;
  transition: color 250ms ease;
}

.modal__toggle--next div, .modal__toggle--prev div {
  position: absolute;
  top: 50%;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .modal__toggle--next, .modal__toggle--prev {
    display: block;
    min-width: 75px;
  }
  .modal__toggle--next:hover, .modal__toggle--prev:hover {
    color: #f990bf;
  }
}

@media only screen and (min-width: 1200px) {
  .modal__toggle--next, .modal__toggle--prev {
    display: block;
    min-width: 150px;
  }
}

.modal__toggle--next.mobile, .modal__toggle--prev.mobile {
  align-self: center;
  position: fixed;
  top: 0;
  z-index: 400;
  display: block;
  width: 50px;
  height: 100%;
  line-height: 100vh;
}

@media only screen and (min-width: 768px) {
  .modal__toggle--next.mobile, .modal__toggle--prev.mobile {
    display: none;
  }
}

.modal__toggle--next {
  cursor: url(./assets/img/arrow-right.svg), pointer;
}

@media only screen and (max-width: 768px) {
  .modal__toggle--next.mobile {
    right: 0;
  }
}

.modal__toggle--prev {
  cursor: url(./assets/img/arrow-left.svg), pointer;
}

@media only screen and (max-width: 768px) {
  .modal__toggle--prev.mobile {
    left: 0;
  }
}

.modal__body {
  width: 100% !important;
  max-width: 1200px;
  padding: 0 50px;
}

@media only screen and (min-width: 440px) {
  .modal__body {
    padding: 0 70px;
  }
}

@media only screen and (min-width: 768px) {
  .modal__body {
    display: flex;
    padding: 0;
  }
}

.modal__body--image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  transition: width 500ms ease, height 500ms ease;
}

.modal__body--image img {
  display: block;
  max-height: 100%;
  margin: 0 auto;
}

.modal__body--image img:hover {
  cursor: zoom-in;
}

.modal__body--content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: width 500ms ease, opacity 500ms ease;
}

@media only screen and (min-width: 768px) {
  .modal__body--content {
    padding-left: 40px;
  }
}

.modal__body--content h1 {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 400;
}

.modal.expanded .modal__btn--expand {
  opacity: 0;
}

.modal.expanded .modal__body--image {
  height: 100%;
}

.modal.expanded .modal__body--image img {
  cursor: zoom-out;
}

.modal.expanded .modal__body--content {
  width: 0;
  overflow: hidden;
  opacity: 0;
}

.modal.expanded .modal__toggle--next:hover, .modal.expanded .modal__toggle--next:active,
.modal.expanded .modal__toggle--prev:hover,
.modal.expanded .modal__toggle--prev:active {
  color: #ffffff;
}

@keyframes modalReveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  position: relative;
  padding: 20px 0;
}

.footer__headline, .footer__text {
  margin: 0 0 5px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 16px;
}

.footer__headline {
  position: relative;
}

.footer__headline::before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 150px;
  height: 1px;
  background: #000000;
  content: '';
}
